section.cart {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    background: var(--gray-background);

    h2 {
        font-size: var(--font-size-xlarge);
        color: var(--black);
    }

    div.cart-item {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        border: 1px solid var(--gray-border);
        border-radius: 8px;

        img {
            width: 100px;
            height: auto;
            border-radius: 8px;
        }

        div.item-details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: var(--font-size-large);
                color: var(--black);
            }

            p {
                font-size: var(--font-size-base);
                color: var(--gray-dark);
            }
        }

        button.remove-button {
            background-color: var(--red);
            color: var(--white);
            border: none;
            padding: 0.5em 1em;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    button.checkout-button {
        background-color: var(--yellow-primary);
        color: var(--black);
        padding: 1em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: var(--font-size-large);
    }
}