footer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    background: var(--gray-light);

    section.main {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div.logo {
            font-size: var(--font-size-large);
            color: var(--black);
        }

        section.menu {
            display: flex;
            gap: 2em;

            a {
                text-decoration: none;
                color: var(--gray-dark);
                font-size: var(--font-size-base);
            }
        }
    }

    section.footer-policies {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;

        div.policies-content {
            display: flex;
            gap: 1em;

            a {
                text-decoration: none;
                color: var(--gray-dark);
                font-size: var(--font-size-base);
            }
        }
    }
}