header {
    font-family: var(--font-family);
    min-width: 100%;
    width: 100%;

    nav {
        display: flex;
        padding: var(--spacing-medium);
        margin-top: var(--spacing-medium);
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        width: 100%;
        background: var(--white);
        border-bottom: 1px solid var(--gray-border);

        ul {
            display: flex;
            justify-content: center;
            gap: 2em;
            list-style: none;
            margin-left: 6em;

            li {
                padding: 14px 20px;
                text-transform: capitalize;
                border-radius: 100px;
                border: 1px solid var(--gray-border);

                a {
                    text-decoration: none;
                    color: var(--gray-dark);
                    font-size: var(--font-size-large);
                }

                &.active {
                    background: var(--gray-light);

                    a {
                        color: var(--black);
                    }
                }

                &.shopping-cart {
                    padding: 1em;
                    display: flex;
                    align-items: center;
                    background: var(--yellow-primary);
                }

                &.dropdown {
                    border: none;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    margin-left: 1em;
                    display: flex;

                    h1 {
                        width: 0;
                    }
                }

                .profile {
                    border-radius: 0;
                }

                .dropdown-menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    background: var(--white);
                    border: 1px solid #CBCAD7;
                    width: 15em;
                    z-index: 1000;
                    display: none;

                    li.item {
                        border: none;
                        padding: 24px 8px;

                        ul.dropdown-inner-menu {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            margin: 0;
                            border: none;
                        }
                    }
                }

                .title:hover .dropdown-menu {
                    display: block;
                }

                a {
                    width: fit-content;
                    text-decoration: none;
                    color: black;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .profile-photo > img {
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}