main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6em;
    margin: 5em;

    section.hero {
        display: flex;
        flex-direction: column;
        gap: 3vw;

        section.header {
            display: flex;
            flex-direction: column;

            section.title {
                display: flex;
                max-width: 100%;
                gap: 1em;

                h1 {
                    width: fit-content;
                    text-transform: uppercase;
                    font-size: 3rem;
                }

                h3 {
                    width: fit-content;
                    color: var(--gray-dark);
                    text-transform: uppercase;
                    font-size: 14px;
                    display: flex;
                }
            }

            a {
                text-decoration: none;

                button {
                    border-radius: 32px;
                    background: var(--gray-light);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: var(--spacing-medium);
                    border: none;
                    font-size: var(--font-size-base);
                    cursor: pointer;

                    p {
                        margin-right: 10px;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            p {
                font-size: var(--font-size-large);
                color: var(--gray-dark);
            }

            p::first-letter {
                text-transform: capitalize;
            }
        }

        section.news {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 16px;
            width: 100%;
            height: fit-content;
            align-items: center;

            div.new {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 100%;
                width: 100%;
                padding: 30px 40px;
                border: solid 1px var(--gray-border);
                border-radius: 14px;

                details summary {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;
                }

                details summary::after {
                    content: url('../images/open-icon.svg');
                }

                details[open] summary::after {
                    content: url('../images/close-icon.svg');
                    width: 10px;
                    height: 10px;
                }

                h2 {
                    text-transform: capitalize;
                }

                p {
                    color: var(--gray-dark);
                }

                p::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}