section.product-detail {
    form {
        width: 100%;
        display: flex;

        div.product {
            width: 100%;
            position: relative;

            figure {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    background: #f7f7f8;
                    border-radius: 20px;
                }
            }

            div.images {
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 1em;
                padding: 1em;
                height: fit-content;
                border-radius: 1em;
                background: #ffffff;
                position: absolute;

                figure {
                    img {
                        object-fit: fill;
                        position: relative;
                        width: 3em;
                        height: 3em;
                        border-radius: 0.5em;
                    }
                }
            }
        }

        div.details {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 1em;

            div.header {
                display: flex;
                width: fit-content;

                div.title {
                    display: flex;
                    flex-direction: column;
                    gap: 55px;
                    input {
                        font-size: 24px;
                        display: flex;
                        font-weight: bold;
                        width: 13em;
                        text-transform: capitalize;
                        border: none;
                    }
                }
                input.price {
                    font-size: 30px;
                    font-weight: bold;
                    border: none;
                    font-size: 30px;
                }

                div.buttons {
                    display: flex;
                    gap: 5px;

                    button {
                        border-radius: 32px;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: fit-content;
                        width: 10.5em;
                        height: 3em;
                        border: none;

                        &.buy {
                            background: #262626;
                            color: #f1f1f3;
                            display: flex;
                            gap: 10px;
                            padding: 16px 10px;
                        }

                        &.cart {
                            display: flex;
                            gap: 10px;
                            padding: 16px 10px;
                            border: 1px solid #f1f1f3;
                        }
                    }
                }
            }

            div.blocks {
                display: flex;
                flex-direction: column;
                gap: 20px;

                div.block {
                    border-radius: 2em;
                    border: 1px solid #f1f1f3;
                    padding: 30px;
                    display: flex;

                    div.header {
                        display: grid;
                        grid-template-columns: 2fr 2fr;
                        gap: 3em;

                        div.matherial {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            input {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                font-size: 18px;
                                border: none;
                            }

                            h3::first-letter {
                                text-transform: capitalize;
                            }
                        }

                        div.colour {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            div.inputs {
                                border: 1px solid #f1f1f3;
                                width: 40px;
                                height: 40px;
                                display: flex;
                                gap: 4px;
                                flex-wrap: wrap;
                                padding: 10px;
                                border-radius: 100px;

                                section {
                                    display: flex;
                                    position: relative;
                                    align-items: center;
                                    div.action-buttons {
                                        position: absolute;
                                        top: 1px;
                                        left: 40px;
                                        display: flex;
                                        gap: 10px;
                                        z-index: 10;
                        
                                        form > button.delete-button {
                                            background: #D1D1D6;
                                            color: white;
                                            border-radius: 50%;
                                            padding: 5px;
                                            font-size: 18px;
                                            border: none;
                                            width: 10px;
                                            height: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            cursor: pointer;
                                            transition: background 0.2s ease, transform 0.1s ease;
                                            img{
                                                width: 10px;
                                            }
                                        }
                                    }
                                    input[type="radio"] {
                                        display: none;
                                    }

                                    input[type="radio"] + label {
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        cursor: pointer;
                                        transition: background 0.3s ease;
                                        &:checked{
                                            border: 1em solid black;
                                        }
                                    }
                                }
                            }
                        }

                        div.fit {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            h3::first-letter {
                                text-transform: capitalize;
                            }

                            input {
                                border: none;
                                font-size: 18px;
                                &::first-letter{
                                    text-transform: capitalize;
                                }
                            }
                        }

                        div.sizes {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;
                            
                            

                            h3:first-letter {
                                text-transform: capitalize;
                            }

                            div.inputs {
                                display: flex;
                                gap: 10px;

                                section {
                                    display: flex;
                                    flex-direction: column;
                                    max-width: 100%;
                                    position: relative;
                                    margin-bottom: 2em;
                                    div.action-buttons {
                                        position: absolute;
                                        top: 1px;
                                        left: 40px;
                                        display: flex;
                                        gap: 10px;
                                        z-index: 10;
                        
                                        form > button.delete-button {
                                            background: #D1D1D6;
                                            color: white;
                                            border-radius: 50%;
                                            padding: 5px;
                                            font-size: 18px;
                                            border: none;
                                            width: 10px;
                                            height: 10px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            cursor: pointer;
                                            transition: background 0.2s ease, transform 0.1s ease;
                                            img{
                                                width: 10px;
                                            }
                                        }
                                    }
                                    label {
                                        display: flex;
                                        text-transform: uppercase;
                                        justify-content: center;
                                        align-items: center;
                                        width: 48px;
                                        height: 48px;
                                        font-size: 18px;
                                        background-color: #f7f7f8;
                                        border-radius: 4px;
                                    }

                                    input {
                                        display: none;
                                        &:checked + label {
                                            background: #000;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                div.block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h3::first-letter {
                        text-transform: uppercase;
                    }

                    ul {
                        margin-left: 2em;
                        display: flex;
                        flex-direction: column;
                        gap: 14px;

                        li {
                            color: #656567;
                            input{
                                border: none;
                                width: 100%;
                                &:first-letter {
                                    text-transform: capitalize;
                                }
                            }

                        }

                    }
                }
            }
        }
    }

}