



main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6em;
    margin: 5em;
    font-family: 'Manrope';
    h2.title::first-letter {
        text-transform: uppercase;
    }
   
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section.main {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10em;
        gap: 15vw;

        section.header {
            display: flex;
            flex-direction: column;

            div.header {
                display: flex;
                flex-direction: column;

                img {
                    width: 100px;
                }

                div.social-media-icons {
                    align-items: center;
                    display: flex;
                    gap: 22px;
                    justify-content: right;
                    margin-bottom: 4em;

                    a {
                        display: flex;
                        border-radius: 100px;
                        background: #262626;
                        padding: 12px;
                        width: 3em;
                        align-items: center;
                        justify-content: center;
                        height: fit-content;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            div.suscription {
                display: flex;
                flex-direction: column;
                gap: 10em;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                min-width: 100%;
                gap: 2vw;

                input {
                    width: 17em;
                    border-radius: 32px;
                    border: 1px solid #f1f1f3;
                    font-size: 18px;
                    padding: 16px 30px 16px 20px;
                    background: #fcfcfd;
                }

                button {
                    border-radius: 32px;
                    background: #ffd400;
                    border: none;
                    font-size: 18px;
                    padding: 30px 16px;
                    width: 147px;
                    height: 59px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    p.responsive {
        display: none;
    }

    section.menu {
        display: none;

        div.row {
            display: flex;
            flex-direction: column;

            a {
                text-decoration: none;
                color: #262626;

                h2 {
                    margin-bottom: 61px;
                    gap: 18px;
                }

                p {
                    font-size: 18px;
                    color: #656567;
                }

                p::first-letter {
                    text-transform: uppercase;
                }
            }
        }
    }
}

section.footer-policies {
    display: flex;
    gap: 10em;
    align-items: center;

    div.policies-content {
        display: flex;
        flex-direction: column;
        gap: 10em;

        p {
            width: fit-content;
        }

        a {
            width: fit-content;
            text-decoration: none;
            color: #262626;
        }
    }

    p {
        color: #656567;
        width: 20em;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1024px) {
   
    main > section.hero {
        flex-direction: row;

        section.header:nth-of-type(2),
        section.header:last-child {
            flex-direction: row;
            justify-content: space-between;
        }

        section.header>section.title {
            flex-direction: row;

            h3 {
                display: block;
            }
        }

        section.news {
            flex-direction: row;

            a {
                margin: auto;

                button {
                    border-radius: 10em;
                    background: #F7F7F8;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 20px;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }

    main>section.hero:nth-child(2),
    main>section.hero:nth-child(3) {
        flex-direction: column;
    }

    main>.filters-container {
        display: flex;
        justify-content: space-between;
    }

    main>section.collections>div.collection>div.clothes {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;

        a {
            margin: 0;

            article {
                width: 350px;
            }
        }

        &:nth-child(2) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    footer {
        section.main {
            flex-direction: row;

            section.header>div.header>div.social-media-icons {
                display: flex;
                order: 1;
            }

            section.menu {
                display: block;
                display: flex;
                gap: 50px;
            }
        }

        section.footer-policies {
            flex-direction: row;

            div.policies-content {
                flex-direction: row;
            }
        }
    }
    main > section.register > img{
        display: block;
    }
}