/* Variables de color */
:root {
    --yellow-primary: #ffd400;
    --black: #262626;
    --white: #ffffff;
    --gray-light: #f7f7f8;
    --gray-dark: #656567;
    --gray-border: #f1f1f3;
    --gray-background: #fcfcfd;
  }
  
  /* Variables de tipografía */
  :root {
    --font-family: 'Manrope', sans-serif;
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 30px;
  }
  
  /* Variables de espaciado */
  :root {
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-xlarge: 40px;
  }
  
  /* Breakpoints */
  :root {
    --breakpoint-md: 768px; /* Tablet */
    --breakpoint-lg: 1024px; /* Desktop */
  }